__DOMAIN__, www.__DOMAIN__ {
    encode zstd gzip

    route {
        handle /api/* {
            reverse_proxy 127.0.0.1:8000 {
                flush_interval -1
            }
        }

        handle {
            root * __APP_DIR__/frontend/dist
            try_files {path} /index.html
            file_server
        }
    }
}
